<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../js/materialize.min.js"></script>
    <script type="text/javascript" src="../../js/jsplugin.js"></script>

    <nav>
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo center">SI Kependudukan</a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/">Home</a></li>
                <li><a href="/penduduk/tambah">Tambah Penduduk</a></li>
                <li><a href="/keluarga/tambah">Tambah Keluarga</a></li>
                <li><a href="/penduduk/cari">Cari Data</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div th:if="${wafat} == 'true'">
            <h3>Sukses!</h3>
            <h6 th:text="'Penduduk dengan NIK - ' + ${penduduk.nik} + 'berhasil dinon aktifkan'">

            </h6>
        </div>
        <table>
            <tbody>
            <tr>
            <h5 th:text="'Lihat Data Penduduk -'+ ${penduduk.nik}"  > NIK Penduduk</h5>
            </tr>
            <tr>
            <td th:text="'NIK '"></td>
            <td th:text="${penduduk.nik}">Penduduk NIK</td>
            </tr>
            <tr>
                <td th:text="'Nama '"></td>
                <td th:text="${penduduk.nama}">Penduduk Nama</td>
            </tr>
            <tr>
                <td th:text="'Tempat/Tanggal Lahir '"></td>
                <td th:text="${penduduk.tempat_lahir}  + ', ' + ${penduduk.tanggal_lahir}">Penduduk ttl</td>
            </tr>
            <tr>
                <td th:text="'Alamat '"></td>
             <td th:text="${penduduk.keluarga.alamat}">Penduduk alamat</td>
            </tr>
            <tr>
                <td th:text="'RT/RW '"></td>
                <td th:text=" ${penduduk.keluarga.rt} +'/'+ ${penduduk.keluarga.rw}">Penduduk rt/rw</td>
            </tr>
            <tr>
                <td th:text="'Keluarahan/Desa '"></td>
                 <td th:text=" ${penduduk.keluarga.kelurahan.nama_kelurahan}">Penduduk Kelurahan</td>
            </tr>
            <tr>
                <td th:text="'Kecamatan '"></td>
                <td th:text=" ${penduduk.keluarga.kelurahan.kecamatan.nama_kecamatan}">Penduduk Kecamatan</td>
            </tr>
            <tr>
                <td th:text="'Kota '"></td>
                <td th:text=" ${penduduk.keluarga.kelurahan.kecamatan.kota.nama_kota}">Penduduk Kota</td>

            </tr>
            <tr>
                <td th:text="'Golongan Darah '"></td>
                <td th:text=" ${penduduk.golongan_darah}">Penduduk GolDar</td>
            </tr>
            <tr>
                <td th:text="'Agama '"></td>
                <td th:text=" ${penduduk.agama}">Penduduk Agama</td>
            </tr>
            <tr>
                <td th:text="'Status Perkawinan '"></td>
                <td th:text=" ${penduduk.status_perkawinan}">Penduduk Status</td>

            </tr>
            <tr>
                <td th:text="'Pekerjaan '"></td>
                <td th:value=" ${penduduk.pekerjaan}">Penduduk Pekerjaan</td>

            </tr>
            <tr>
                <td th:text="'Kewarganegaraan '"></td>
                <td th:text=" (${penduduk.is_wni} == 1) ? 'WNI':'WNA'">Penduduk </td>
            </tr>
            <tr>
                <td th:text="'Status Kematian '"></td>
                <td th:text=" (${penduduk.is_wafat} == 0) ? 'Hidup' : 'Wafat'">Penduduk status mati</td>
                <td>
                    <form class="col s12" th:if="${penduduk.is_wafat} == 0" action="/penduduk/mati" method="post">
                        <input hidden="hidden" th:value="${penduduk.nik}" name="nik"/>
                        <button class="btn waves-effect  red darken-3" type="submit"  >Nonaktifkan
                        </button>

                    </form>

                </td>
            </tr>

            </tbody>
        </table>

    </div>

</body>
</html>